#game {
    margin: 20px 0;
    text-align: center;
}

.playfield {    
    margin: 20px auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.item-result {
    width: 20px;
    text-align: left;
}

.result {
    width: 10px;
}

.tile {
    height: 50px;
    width: 50px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    background-color: white;
    cursor: pointer;
}

.tile:disabled {
    cursor: default;
}

.submit-field {
    height: 40px;
    margin: 40px auto;
    align-items: center;
}

#submit-button {
    width: 150px;
    height: 40px;
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 5px;
    font-size: 1.7em;
}

#submit-button:hover {
    cursor: pointer;
}

#submit-button:disabled {
    cursor: default;
}

#inventory {
    margin: 20px auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

@media only screen and (min-width: 1000px) {
    #game {
        margin: 40px auto;
    }
    
    .playfield {
        width: 50%;
        margin: 30px auto;
        font-size: 2.3rem;
    }

    .submit-field {
        height: 50px;
        margin: 50px auto;
    }

    #submit-button {
        width: 175px;
        height: 50px;
        border: 3px solid gainsboro;
        font-size: 2.0rem;
    }
    
    .tile {
        height: 65px;
        width: 65px;
        font-size: 2.3rem;
        border: 3px solid gainsboro;
    }

    #inventory {
        width: 70%;
        gap: 30px;
    }
}