#game {
    margin: 40px 0;
    text-align: center;
}

.playfield {
    margin: 20px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.item {
    width: 40px;
}

.result {
    width: 10px;
}

.tile {
    height: 50px;
    width: 50px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: white;
}

.submit-field {
    height: 40px;
    margin: 40px auto;
    align-items: center;
}

#submit-button {
    width: 150px;
    height: 40px;
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 5px;
    font-size: 1.7em;
}

#submit-button:hover {
    cursor: pointer;
}

#inventory {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}